<div class="card">
  <div class="inside">
    <header>
      <div class="left">
        <div class="name">{{animal().name}}</div>
      </div>
      <div class="right">
        <div class="rarete">{{animal().rarete}}</div>
        <img class="energyIcon" src="assets/img/Plant-energy.png" alt="plant icon">
      </div>
    </header>
    <figure class="art">
      <img  class="animal-img" src="assets/img/blue-dragon.jpg" alt="image de dragon">
      <figcaption>{{animal().figureCaption}}</figcaption>
    </figure>
    <div class="descriptions">
      <div class="description">
        <div class="main">
          <div class="scientist-name">{{animal().scientistName}}</div>
          <div class="localisation">{{animal().localisation}}</div>
        </div>
        <div class="infos">{{animal().infos}}</div>
      </div>
    </div>
  </div>
</div>
